<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <a href="/.auth/logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="/.auth/login/aad">Log in</a>
    </NotAuthorized>
</AuthorizeView>
